html {padding:0;margin:0;height:100%}
body {font-family:Verdana,Arial,Sans-Serif; font-size:10pt; margin:0; background-image:url('../image/bkground.jpg'); background-repeat:no-repeat; background-attachment:fixed; background-position:bottom left;}
div {margin:auto;}
/* div#mmMsg {border-style:solid; border-width:1px; border-color:#AAA; background-color:yellow; padding:2px; cursor:pointer;} */
/* div#mmMsg {color:red; font-weight:bold; font-size:8pt; font-family:Verdana,Sans-Serif; padding-right:5px;} */
div#mmMsg {border-style:solid;border-width:2px;border-color:#AAA;background-color:#FFC;cursor:pointer;padding:2px;padding-left:5px;padding-right:5px;color:#333;font-size:8pt;}
div.mmDialog {display:none;}
div#mmShield {position:absolute;top:0;left:0;width:100%;z-index:1;background-color:#CCC;filter:alpha(opacity=75);opacity:.75;}

span#mmUserName {font-style:italic;}

form {margin:0;}

table {font-family:Verdana,Arial,Sans-Serif; font-size:10pt; margin:auto;}
table.listrender {border-style:solid; border-width:2px; border-color:#AAA; background-color:white;}
th {background-color:#888; color:white; border-style:solid; border-width:1px; border-color:#888; font-weight:normal; }
tr.even {background-color:#EEE;}
tr.odd {background-color:#FFF;}

.pagebanner,
.pagelinks {font-family:Verdana,Arial,Sans-Serif;font-size:8pt;padding-right:5px;}
span.pageSelected {background-color:#888;color:white;border-style:solid;border-width:1px;border-color:#888;padding-left:2px;padding-right:2px;}

table#mainTitle {width:100%;}
td#logo {width:150px;}
td#appTitle {font-family:Verdana,Sans-Serif; font-size:18pt; font-weight:normal; padding-left:10px; text-align:left;}
td#pageTitle {font-family:Verdana,Sans-Serif; font-size:12pt; font-weight:normal; padding-left:10px; text-align:left; color:#006;}
td#mmInfo {font-size:8pt; vertical-align:top; text-align:right; padding-right:5px; padding-top:5px; }
td#mmMsg {color:red; font-weight:bold; font-size:8pt; font-family:Verdana,Sans-Serif; cursor:pointer; text-align:right; padding-right:5px;}

div#menu-shadow1 {border-style:none;border-top-style:solid;border-bottom-style:solid;border-width:1px;border-color:#F0F0F0;border-top-color:#FFF;}
div#menu-shadow2 {border-style:solid;border-top-style:solid;border-bottom-style:solid;border-width:1px;border-color:#DDD;border-top-color:#F0F0F0;}
div#menu-content {border-style:none;border-top-style:solid;border-bottom-style:solid;border-width:1px;border-top-color:#AAA;border-bottom-color:#AAA;padding:1px;background-color:#EEE;background-image:url('../image/menu_bg.gif');background-repeat:repeat-x;text-align:center}

div#action-shadow {border-style:solid;border-width:1px;border-color:#F0F0F0;}
div#action-content {border-style:solid;border-width:1px;border-color:#CCC;padding:5px;background-color:white;background-image:url('../image/action_bg.gif');background-position:bottom;background-repeat:repeat-x;}

/* a {text-decoration:none; border-style:none; border-bottom-style:dotted; border-width:1px; border-color:#9CF;} */
a {text-decoration:none;}
a:link {color:#00F;}
a:visited {color:#00F;}
a:hover {text-decoration:underline;}

a.mmTH:link, a.mmTH:visited {color:white}

input.mmAction {font-size:8pt; width:75px;}

img {border-style:none;}
img.mmImgMiddle {vertical-align:middle;}

legend {padding-right:5px; font-weight:bold; color:#006;}

/* round-corner style taken from http://blog.yosle.com/2007/09/20/css-round-corners/ */
.b1h, .b2h, .b3h, .b4h, .b2bh, .b3bh, .b4bh{font-size:0px; overflow:hidden; display:block;}
.b1h {height:0px; background:#888; margin:0 5px;border-top:1px solid #888;}
.b2h, .b2bh {height:1px; background:#888; border-right:2px solid #888; border-left:2px solid #888; margin:0 3px;}
.b3h, .b3bh {height:1px; background:#888; border-right:1px solid #888; border-left:1px solid #888; margin:0 2px;}
.b4h, .b4bh {height:2px; background:#888; border-right:1px solid #888; border-left:1px solid #888; margin:0 1px;}
.b2bh, .b3bh, .b4bh {background: #fff;}
.headh {background: #888; border-right:1px solid #888; border-left:1px solid #888; border-bottom:1px solid #888;}
.headh h3 {margin: 0px 10px 0px 10px; padding-bottom: 3px;}
.contenth {background: #fff; border-right:1px solid #888; border-left:1px solid #888;}
.contenth div {margin-left: 12px; padding-top: 5px;}
/* end of round-corner style */
