td.whiteSpace
{
	height: 10px;
}

td.titleBox
{	
	background-color: #d0e0f5;
}

font.titleText
{
	font-size: 18px;
}

font.teradata
{
	color: #ff9900;
}

font.error
{	
	font-size: 14px;
	color: red;
}

font.header
{
	font-weight: bold; 
	color: #1c3880;
}

font.small
{
	font-size: 10px;
	color: #1c3880;
}

font.navLink
{
	font-family: arial, helvetica;
	font-size: 14px;
	color: #466b8b;
}

font.reqField
{
	color: red;
}

font.sqlBlue
{
	font-size: 12px;
	color: blue;
}

font.sqlBrown
{
	font-size: 12px;
	color: brown;
}

font.pi
{
	font-size: 12px;
	color: #3399CC;
	font-weight: bold; 
}
td.systemInfo
{
	font-weight:bold; 
	font-size:10pt
}

td.sortCol
{
	text-align: left;
	background-color: #b9d0e8;
}

td.unSortCol
{
	text-align: left;
	background-color:#e3e7ea;
}

td.chBxAll
{
	width: 1%;
	text-align: center;
	background-color:#FF8000;
}

td.chBxOdd
{
	width: 1%;
	text-align: center;
	background-color:#e3e7ea;
}

td.chBxEven
{
	width: 1%;
	text-align: center;
	background-color:#FAFAFA;
}

td.oddRow
{
	text-align: center;
	background-color:#e3e7ea;
}

td.evenRow
{
	text-align: center;
	background-color:#FAFAFA;
}

td.oddRowL
{
	text-align: left;
	background-color:#e3e7ea;
}

td.evenRowL
{
	text-align: left;
	background-color:#FAFAFA;
}

td.oddRowR
{
	text-align: right;
	background-color:#e3e7ea;
}

td.evenRowR
{
	text-align: right;
	background-color:#FAFAFA;
}

td.tableTopL
{
	text-align: left;
	background-color:#B0C4DE;
}

body
{ 
	background-color: white; 
	margin: 0px;
}

div.drag
{
	position: relative;
	cursor: hand;
}

div.drop
{
	border-right: 1px solid;
	border-left: 1px solid;
	border-bottom: 1px solid;
	border-top: 1px solid;
	border-color: #000000;
	background-color: #ffffff;
	text-align: left;
	text-decoration: none;
	padding-right: 2px;
	padding-left: 2px;
	padding-bottom: 2px;
	padding-top: 2px;  
	overflow: hidden;
	width: 200px;
	color: green;
}

a.metadata:link    { color:#466b8b; text-decoration:underline; }
a.metadata:visited { color:#466b8b; text-decoration:underline; }
a.metadata:hover   { color:#ff9900; text-decoration:underline; }
a.metadata:active  { color:#ff9900; text-decoration:underline; }

a:link    { text-decoration:none; }
a:visited { text-decoration:none; }
a:hover   { color:#ff9900; text-decoration:none; }
a:active  { color:#ff9900; text-decoration:none; }

td, tr, th, a, input, select, textarea, span, img
{
    color: black;
    font-family: Tahoma, verdana, arial, helvetica;
    font-size: 9pt;
    font-weight: normal;
	text-decoration: none;
}

.left_nav
{
	background-color: #e3e7ea; 
	display: block;
}

.divider
{
	background-color: #7490a8;
}

.top_nav
{
	font-size: 8pt;
	color: #1c3880;
	text-align: right; 
	padding-right: 5px; 
	text-decoration: none;
	cursor: hand;
}

.lightblue_title_1
{
	background-color: #d1dae2;
}

.lightblue_title
{
	background-color: #466b8b;
	font-size: 11pt; 
	font-weight: bold; 
	color: white; 
}

.lightblue_title_2
{
	background-color: #b9d0e8;
}

.lightblue_title_3
{
	background-color: #a8a8a8;
}

.dark_blue_background
{
	background-color: #3e5b71;
}

.left_nav_title_icon_2
{
	padding-top: 1px;
}

.left_nav_title_2
{
	background-color: #9a9c9e;
}

.left_nav_title_3
{
	background-color: #cbced1;
}

.background_white
{
	background-color: white;
}

.white_bold_text
{
	font-weight: bold;
	color: white;
	background-color: #3e5b71;
}

.bulletlist
{
	font-weight: bold;
	font-size: 8pt;
}